.opciones-container{
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin: 0;
}

.opciones-admin{
    background-color: rgb(23, 18, 49);
    min-height: 100vh;
    height: auto;
    padding: 50px 5px; 
}

.opciones-admin .opcionesAdminTitle{
    text-align: center; font-weight: 800; color: white;
}

.opciones-admin ul{
   padding: 10px 0;
}

.opciones-admin ul .opciones-item{
    width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s;
}

.opciones-admin ul .opciones-item:hover{
    background-color: rgb(76, 63, 139);
    color: #fff;
}
